.foo {
  height: 20px;
  /* stylelint-disable-next-line order/properties-order */
  width: 20px;
  /* stylelint-disable-next-line property-disallowed-list */
  widows: 2;
  /* stylelint-disable-next-line @stylistic/property-case, order/properties-order */
  DISPLAY: block;
}
